.headofdeskflex{
    display: flex;
    background-color: #F5F5F5;   
}
.main-headOfDesk-Container{
    height: calc(100vh - 50px);
    background-color:#F5F5F5;
    overflow-y: scroll;
    overflow-x: hidden;
}
.jobBtn{
    font-family: 'Inter';
}

@media screen  and (min-width: 1001px) and (max-width:1115px){
.headofdeskflex{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}


}

@media screen and (max-width:1000px){
.main-headOfDesk-Container{
  width: inherit;
  background-color: rgb(35, 36, 35);
 
}
.headofdeskflex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
   }

}

@media screen and (max-width:750px) {
   .headofdeskflex{
    gap: 17rem;
   }
}
@media screen and (max-width:500px) {
   .headofdeskflex{
    display: flex;
    flex-direction: column;
    gap: 15rem;
    align-items: center;
   }
}